*{
    box-sizing: border-box;
    font-family: Airbnb Cereal App;
}
.skewedbox-1{
  padding-top: 50px;
  background: rgba(58, 135, 253, 0.2);
  transform: skew(0deg, -6.74deg) translateY(-120px);
}
.bg-color{
  margin-top: 190px;
  transform: skew(0deg, 6.74deg) translateY(-120px);
}
.navbar-brand img{
  width: 100px;
  height: auto;
  margin-left: 100px;
}
.navbar-nav{
margin-left: 100px;
}
.nav-link{
    margin-top: 20px;
    margin-left: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;  
    color: #333333;
}
.nav-item p{
  text-align: center;
  margin-left: 40px;
  border: 1px solid orangered;
  padding: 10px;
  width: 100%;
  background: #F75B12;
border-radius: 4px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}
.para-1{
 text-align: center;
  margin-top: 144px;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  color: #333333;
}
h1{
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
}
.para-2{
  text-align: center;
  margin-top: 39px;
font-style: normal;
font-weight: 300;
font-size: 22px;
color: #333333;
}
.get-btn .btn{
    background: #F75B12;
border-radius: 4px;
width: 240px;
height: 55px;
color: white;
}
.learn-btn .btn{
  color: black;
    border-radius: 4px;
width: 240px;
height: 55px;
border-color: black;
}
.list-1{
  margin-top: 45px;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 34px;

}
.list-1 li{
  padding-left: 15px;
  display: inline-block;
  text-align: center;
}
.grp-141{
  margin-left: 100px;
  margin-top: 100px;
  width: 100%;
}
/*-------Profile------*/
.cls-3{
  margin-top: 73px;
}
.cls-3 p{
  margin-top: 42px;
  margin-left: 20px;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #000000;
}
.profile{
   width: 100%;
   height: 100%;
}
.benefits{
  margin-top: -10px;
font-size: 60px;
color: #333333;
}


/* how flipmd works cls*/
.skewedbox-2{
  padding-top: 50px;
  margin-top: 314px;
  background: rgba(242, 247, 255, 0.8);
  transform: skew(0deg, -6.74deg) translateY(-120px);
}
.flipmd{
  transform: skew(0deg, 6.74deg) translateY(-120px);
}
.h1{
  margin-top: 206px;
  font-style: normal;
  font-weight: 500;
  font-size: 72px; 
  text-align: center;
}
.flipmd img{
  margin-left: 100px;
}
.flipmd h4{
  margin-top: 38px;
  text-align: center;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 42px;
color: #000000;
}
.flipmd p{
  margin-top: 25px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 34px;
text-align: center;
color: #000000;
}
.flipmd .video-btn .btn{
  margin-top: 50px;
    margin-left: 35%;
    width: 318px;
    height: 55px;
    background: #F75B12;
    border-radius: 4px;
}
/* flipmd end here */
.skewedbox{
  margin-top: 0px;
  padding-top: 200px;
  background: #F75B12;
  transform: skew(0deg, -6.74deg) translateY(-120px);
}
.diff{
  transform: skew(0deg, 6.74deg) translateY(-120px);
}
.diff h1{
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 94px;
  color: #FFFFFF;
}
.diff h4{
  text-align: center;
  margin-top: 133px;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 42px;
color: #FFFFFF;
}
.diff p{
  text-align: center;
  margin-top: 27px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 34px;
color: #FFFFFF;
}
/* diff end here */
.physicians h1{
  margin-top: 49px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 94px;
  color: #333333;
}
.physicians p{
  text-align: center;
  margin-top: 89px;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 34px;
color: #000000;
}
.physicians ul-1{
  margin-top: 52px;
}
.physicians ul li{
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
  color: #000000;
}
.doctor{
  margin-top: 91px;
    width: 100%;
    height: auto;
}
.started .btn{
  margin-top: 77px;
    background: #F75B12;
border-radius: 4px;
width: 240px;
height: 55px;

color: white;
}

/* card start here */
.card-cls h1{
  margin-top: 155px;
  text-align: center;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 94px;
color: #333333;
}
.card{  
  width: 100%;
  margin-top: 64px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.1);  
}
.card-title{
  margin-top: 25px;
  text-align: center;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 36px;
}
.view-btn .btn{
  margin-top: 46px;
  width: 240px;
  height: 55px;
    margin-left: 4%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;   
    color: #FFFFFF;
background: #F75B12;
border-radius: 4px;
}
.card .card-img{
    width: 100%;
    height: 100%;
}

/* stay in touch */
.container-1{
  margin-top: 110px;
  border: 1px solid;
  background: #3A87FD;
  border: none;
  height: 270px;
}
  .container-1 h1{
    margin-left: 180px;
    color: #FFFFFF;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 94px;
  }
  .container-1 p{
    margin-left: 180px;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 34px;
color: #FFFFFF;
  }
  input[type=text] {
    width: 100%;
    margin-left: 180px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 34px;    
    color: #4F4F4F;
  }
  .container-1 .btn{
    background: #F75B12;
border-radius: 4px;
  }
  .container-1 .img{
    margin-top: -30px;
    margin-left: -60px;
    width: 200px;
  }

  /* Footer code start here */
  .footer{
    margin-top: 144px;
  }
  .footer ul li{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    display: flex;
    align-items: center;
    
    color: #000000;
    
  }
  .footer .heading{
    font-weight: 800;
  }
  .footer svg{
    color: #3A87FD;
    margin-left: 10px;
  }
  .footer-cls{
    margin-top: 82px;
    margin-left: -30px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    /* identical to box height, or 212% */
    
    
    color: #000000;
  }
  .footer-cls li{
    display: inline-block;
    padding-left: 30px;
  }
  
/*  Mobile Responsive  */
@media only screen and (max-width: 480px) {
  .navbar{
     background: #FFFFFF;
     box-shadow: 0px 4px 39px rgba(23, 35, 66, 0.15);
   }
  .navbar-brand img{
    margin-left: 0px;
  }
  .nav-item p{
    width: 100%;
    margin-left: 0;
  }
  .para-1{
    margin-top: 35px;
    font-size: 18px;
    align-items: center;
  }
  h1{
    margin-top: 5px;
    font-size: 32px;
    text-align: center;
  }
  .grp-141{
    margin-top: 9px;
    width: 50%;
  }
  .para-2{
    display: none;
  }
  .get-btn .btn{
    margin-top: 30px;
    margin-left: 20%;
  }
  .learn-btn .btn{
    margin-top: 25px;
    margin-left: 20%;
  }
  .list-1 li{
    display: block;
    text-align: center;
  }
  .cls-3{
    margin-top: 92px;
  }
  .cls-3 p{
    margin-top: 32px;
  }
  .benefits{
   margin-top: 39px;
    font-size: 32px;
  }
  .profile{
    width: 100%;
    height: auto;
    margin-top: -400px;
  }
  .h1{
    font-size: 32px;
  }
  .flipmd h4{
    margin-top: 32px;
    font-size: 24px;
  }
  .flipmd img{
    margin-top: 35px;
  }
  .flipmd h4{
    margin-top: 14px;
  }
  .flipmd .video-btn .btn{
    margin-left: 5%;
  }
  .diff h1{
    margin-top: 134px;
    font-size: 32px;
   line-height: 40px;
  }
  .diff h4{
    margin-top: 40px;
    font-size: 24px;
  }
  .diff p{
    margin-top: 15px;
  }
  .physicians h1{
    margin-top: 159px;
    font-size: 32px;
    line-height: 42px;
  }
  .doctor{
    margin-top: 31px;
    width: 100%;
  }
  .physicians ul li{
    margin-left: 15px;
    margin-top: 26px;
    font-size: 18px;
    line-height: 34px;
  }
  .started .btn{
    display: none;
  }
  .card{
    width: 100%;
  }
  .card-cls h1{
    margin-top: 70px;
    font-size: 32px;
    line-height: 42px;
  }
  .card-title{
    font-size: 24px;
  }
  .view-btn .btn{
    width: 240px;
    height: 55px;
    margin-left: 12%;
  }
  .container-1 h1{
    font-size: 32px;
    margin-left: 10px;
  }
  .container-1 p{
    margin-left: 30px;
    text-align: center;
  }
  .container-1 p{
    font-size: 18px;
  }
  input[type=text] {
     width: 100%;
    font-size: 16px;
    margin-left: 30px;  
  }
  .container-1 .img{
    display: none;
  }
  .footer{
    display: none;
  }
  .footer-cls{
    display: none;
  }
}

  